In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import tensorflow as tf
import json

In [41]:
df = pd.read_csv('/Users/abrahamcampos/Desktop/kickstarter_data_2024.csv');

/var/folders/pd/p7n06std6nj_26fw2tft4t700000gn/T/ipykernel_57555/2551658681.py:1: DtypeWarning: Columns (43) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/abrahamcampos/Desktop/kickstarter_data_2024.csv');

In [42]:
df.isnull().sum()

backers_count                               0
blurb                                     124
category                                    0
converted_pledged_amount                98423
country                                     0
country_displayable_name                    0
created_at                                  0
creator                                     0
currency                                    0
currency_symbol                             0
currency_trailing_code                      0
current_currency                            0
deadline                                    0
disable_communication                       0
fx_rate                                     0
goal                                        0
id                                          0
is_disliked                                 0
is_launched                                 0
is_liked                                    0
is_starrable                                0
launched_at                                 0
location                                 1750
name                                        0
percent_funded                              0
photo                                       0
pledged                                     0
prelaunch_activated                         0
profile                                     0
slug                                        0
source_url                                  0
spotlight                                   0
staff_pick                                  0
state                                       0
state_changed_at                            0
static_usd_rate                             0
urls                                        0
usd_exchange_rate                       98423
usd_pledged                             98423
usd_type                                  840
video                                  802578
source_file                                 0
month                                       0
is_in_post_campaign_pledging_phase    1985578
dtype: int64

In [28]:
#df.drop([],axis=1)
#df.shape

(2207604, 44)

In [43]:
d_cols = ["source_file","id","is_in_post_campaign_pledging_phase"] # Columns to be dropped.

In [44]:
df.drop(d_cols,axis=1)
#df.shape

,backers_count,blurb,category,converted_pledged_amount,country,country_displayable_name,created_at,creator,currency,currency_symbol,...,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_exchange_rate,usd_pledged,usd_type,video,month
0,2,Astrological Connections and Personal Wisdom,"{""id"":260,""name"":""Interactive Design"",""analyti...",51.0,US,the United States,1703817326,"{""id"":1796521275,""name"":""Jusmari"",""slug"":""jusm...",USD,$,...,False,live,1705105011,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",1.0,51.00,domestic,NaN,2024-01
1,1,Cozy Kornerz is a fun new redecorating tool th...,"{""id"":260,""name"":""Interactive Design"",""analyti...",1.0,US,the United States,1703207262,"{""id"":427490455,""name"":""Anna-Marie Haynes"",""is...",USD,$,...,False,live,1705094168,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",1.0,1.00,domestic,"{""id"":1265706,""status"":""successful"",""hls"":""htt...",2024-01
2,1,I want to design an exercise Matt with practic...,"{""id"":260,""name"":""Interactive Design"",""analyti...",1.0,US,the United States,1595795908,"{""id"":80814941,""name"":""Milad Nazar"",""slug"":""mi...",USD,$,...,False,live,1704922607,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",1.0,1.00,domestic,NaN,2024-01
3,0,A space engineered to promote informed consume...,"{""id"":260,""name"":""Interactive Design"",""analyti...",NaN,AU,Australia,1701838739,"{""id"":1244321122,""name"":""Sebastian Cincotta"",""...",AUD,$,...,False,submitted,1702221670,0.0,"{""web"":{""project"":""https://www.kickstarter.com...",NaN,NaN,domestic,NaN,2024-01
4,0,YourMD Online Connect: Redefining Telehealth f...,"{""id"":260,""name"":""Interactive Design"",""analyti...",NaN,US,the United States,1684808241,"{""id"":247411242,""name"":""Teja V Surapaneni MD, ...",USD,$,...,False,submitted,1684893892,0.0,"{""web"":{""project"":""https://www.kickstarter.com...",NaN,NaN,domestic,NaN,2024-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2207599,36,Blackbird will be an incubator for up-and-comi...,"{""id"":24,""name"":""Performance Art"",""analytics_n...",4670.0,US,the United States,1330960461,"{""id"":1265966003,""name"":""Charlotte Matis"",""is_...",USD,$,...,False,successful,1335374656,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",1.0,4670.99,domestic,"{""id"":89008,""status"":""successful"",""hls"":null,""...",2024-10
2207600,0,Nurture hundreds of plants at home and enjoy t...,"{""id"":52,""name"":""Hardware"",""analytics_name"":""H...",NaN,US,the United States,1710429413,"{""id"":1463957959,""name"":""UrbiGrow"",""is_registe...",USD,$,...,False,started,1710429413,0.0,"{""web"":{""project"":""https://www.kickstarter.com...",NaN,NaN,domestic,NaN,2024-10
2207601,0,Send the Devil and his Minions back Whence The...,"{""id"":34,""name"":""Tabletop Games"",""analytics_na...",NaN,CA,Canada,1728034778,"{""id"":369627949,""name"":""Jay Booth"",""slug"":""imm...",CAD,$,...,False,submitted,1728751498,0.0,"{""web"":{""project"":""https://www.kickstarter.com...",NaN,NaN,domestic,NaN,2024-10
2207602,0,"Upgrade your game night with these beautiful, ...","{""id"":34,""name"":""Tabletop Games"",""analytics_na...",NaN,US,the United States,1728023833,"{""id"":746790307,""name"":""Adventures Await"",""slu...",USD,$,...,False,submitted,1728054832,0.0,"{""web"":{""project"":""https://www.kickstarter.com...",NaN,NaN,domestic,NaN,2024-10
2207603,0,The official 3rd Party Zine for the award winn...,"{""id"":34,""name"":""Tabletop Games"",""analytics_na...",NaN,DK,Denmark,1727980995,"{""id"":60323019,""name"":""Tommy Sunzenauer"",""slug...",EUR,€,...,False,submitted,1728153438,0.0,"{""web"":{""project"":""https://www.kickstarter.com...",NaN,NaN,domestic,NaN,2024-10

In [25]:
df.shape

(2207604, 43)

In [67]:
category = df['category'].apply(lambda x: json.loads(x))

category.shape

(2207604,)

In [60]:
len(category)

2207604

In [45]:
drop_cols =['currency_symbol','id','photo','source_url','urls','video','created_at','currency_trailing_code','country','deadline','source_file'];

In [46]:
df_drop = df.drop(drop_cols,axis=1);

In [47]:
df_drop.shape

(2207604, 33)

In [48]:
len(df_drop['category'])

2207604

In [53]:
df_drop.columns

Index(['backers_count', 'blurb', 'category', 'converted_pledged_amount',
       'country_displayable_name', 'creator', 'currency', 'current_currency',
       'disable_communication', 'fx_rate', 'goal', 'is_disliked',
       'is_launched', 'is_liked', 'is_starrable', 'launched_at', 'location',
       'name', 'percent_funded', 'pledged', 'prelaunch_activated', 'profile',
       'slug', 'spotlight', 'staff_pick', 'state', 'state_changed_at',
       'static_usd_rate', 'usd_exchange_rate', 'usd_pledged', 'usd_type',
       'month', 'is_in_post_campaign_pledging_phase'],
      dtype='object')

In [65]:
category[1]['id']

260

In [70]:
df_drop['parsed_category'] = df_drop['category'].apply(json.loads)

In [79]:
df_drop['category_name'] = df_drop['parsed_category'].apply(
    lambda x: x.get('parent_name', None) if isinstance(x, dict) else None
)

In [75]:
df_drop['category'][1]

'{"id":260,"name":"Interactive Design","analytics_name":"Interactive Design","slug":"design/interactive design","position":4,"parent_id":7,"parent_name":"Design","color":2577151,"urls":{"web":{"discover":"http://www.kickstarter.com/discover/categories/design/interactive%20design"}}}'

In [76]:
df_drop['parsed_category'][1]

{'id': 260,
 'name': 'Interactive Design',
 'analytics_name': 'Interactive Design',
 'slug': 'design/interactive design',
 'position': 4,
 'parent_id': 7,
 'parent_name': 'Design',
 'color': 2577151,
 'urls': {'web': {'discover': 'http://www.kickstarter.com/discover/categories/design/interactive%20design'}}}

In [80]:
df_drop['category_name']

0              Design
1              Design
2              Design
3              Design
4              Design
              ...
2207599           Art
2207600    Technology
2207601         Games
2207602         Games
2207603         Games
Name: category_name, Length: 2207604, dtype: object

In [81]:
df_drop['subcategory'] = df_drop['parsed_category'].apply(
    lambda x: x.get('name', None) if isinstance(x, dict) else None
)

In [82]:
# Now Working with the location column

df_drop['location'][1]

'{"id":2424766,"name":"Houston","slug":"houston-tx","short_name":"Houston, TX","displayable_name":"Houston, TX","localized_name":"Houston","country":"US","state":"TX","type":"Town","is_root":false,"expanded_country":"United States","urls":{"web":{"discover":"https://www.kickstarter.com/discover/places/houston-tx","location":"https://www.kickstarter.com/locations/houston-tx"},"api":{"nearby_projects":"https://api.kickstarter.com/v1/discover?signature=1705378246.074301496c023d25e471ee32731565596057e5f4&woe_id=2424766"}}}'

In [83]:
df_drop['parsed_location'] = df_drop['location'].apply(json.loads)

TypeError: the JSON object must be str, bytes or bytearray, not float

In [84]:
import json
import pandas as pd

def safe_json_loads(x):
    # Check for null values
    if pd.isnull(x):
        return None
    # Ensure the value is a string (or similar) before loading
    if isinstance(x, (str, bytes, bytearray)):
        try:
            return json.loads(x)
        except json.JSONDecodeError as e:
            print(f"JSON decode error: {e} for value: {x}")
            return None
    # If it's not a string, return the value or None
    return None

df_drop['parsed_location'] = df_drop['location'].apply(safe_json_loads)

In [85]:
df_drop['city'] = df_drop['parsed_location'].apply(
    lambda x: x.get('short_name', None) if isinstance(x, dict) else None
)

In [86]:
df_drop['city']

0                New York, NY
1                 Houston, TX
2               Annandale, VA
3                  Sydney, AU
4               Las Vegas, NV
                  ...
2207599       Minneapolis, MN
2207600                  None
2207601         Elora, Canada
2207602         Haverhill, MA
2207603    Silkeborg, Denmark
Name: city, Length: 2207604, dtype: object

In [87]:
df_drop['creator'][1]

'{"id":427490455,"name":"Anna-Marie Haynes","is_registered":null,"is_email_verified":null,"chosen_currency":null,"is_superbacker":null,"avatar":{"thumb":"https://ksr-ugc.imgix.net/assets/041/622/049/524a5214350d09dd8f53d61e54c6749f_original.jpg?ixlib=rb-4.1.0&w=40&h=40&fit=crop&v=1689375186&auto=format&frame=1&q=92&s=0d19bd1f131126805851fd22dc100247","small":"https://ksr-ugc.imgix.net/assets/041/622/049/524a5214350d09dd8f53d61e54c6749f_original.jpg?ixlib=rb-4.1.0&w=80&h=80&fit=crop&v=1689375186&auto=format&frame=1&q=92&s=24bfa1ec71988c0487b5b93200a4c3e7","medium":"https://ksr-ugc.imgix.net/assets/041/622/049/524a5214350d09dd8f53d61e54c6749f_original.jpg?ixlib=rb-4.1.0&w=160&h=160&fit=crop&v=1689375186&auto=format&frame=1&q=92&s=c2fde08a27f49a1f3261143c1bc4477e"},"urls":{"web":{"user":"https://www.kickstarter.com/profile/427490455"},"api":{"user":"https://api.kickstarter.com/v1/users/427490455?signature=1705415547.4bce5f74a4b3094609b8531d236b24b1b2fa2f16"}}}'

In [115]:
df_drop.drop(['creator'],axis=1,inplace=True);

In [93]:
df_drop.shape

(2207604, 39)

In [98]:
df_drop.drop(['profile'],axis=1,inplace=True);

In [99]:
df_drop.drop(['category','location'],axis=1,inplace=True);

In [100]:
df_drop.shape

(2207604, 36)

In [101]:
df_drop['month']

0          2024-01
1          2024-01
2          2024-01
3          2024-01
4          2024-01
            ...
2207599    2024-10
2207600    2024-10
2207601    2024-10
2207602    2024-10
2207603    2024-10
Name: month, Length: 2207604, dtype: object

In [116]:
df_sorted = df_drop.sort_values('month');

In [117]:
df_sorted['month'] = pd.to_datetime(df_sorted['month'], format='%Y-%m');

# Sort the DataFrame by the datetime month
df_sorted = df_sorted.sort_values('month');

In [118]:
# Group by the month column
grouped = df_sorted.groupby('month');

# Count the number of rows per month
month_counts = grouped.size();

print(month_counts)

month
2024-01-01     25957
2024-02-01     25583
2024-03-01     26070
2024-04-01    241369
2024-05-01    241857
2024-06-01    207306
2024-07-01    242699
2024-08-01    243611
2024-09-01    244000
2024-10-01    233125
2024-11-01    244737
2024-12-01    231290
dtype: int64

In [120]:
#grouped.drop(['creator'],axis=1,inplace=True)

grouped.head()

,backers_count,blurb,converted_pledged_amount,country_displayable_name,currency,current_currency,disable_communication,fx_rate,goal,is_disliked,...,usd_pledged,usd_type,month,is_in_post_campaign_pledging_phase,parsed_category,category_name,subcategory,parsed_location,city,parsed_creator
0,2,Astrological Connections and Personal Wisdom,51.0,the United States,USD,USD,False,1.000000,60000.0,False,...,51.000000,domestic,2024-01-01,NaN,"{'id': 260, 'name': 'Interactive Design', 'ana...",Design,Interactive Design,"{'id': 2459115, 'name': 'New York', 'slug': 'n...","New York, NY","{'id': 1796521275, 'name': 'Jusmari', 'slug': ..."
24,318,Carbon wallet reimagined | Ultra light | Carbo...,27920.0,the United States,USD,USD,False,1.000000,6000.0,False,...,27920.000000,domestic,2024-01-01,NaN,"{'id': 28, 'name': 'Product Design', 'analytic...",Design,Product Design,"{'id': 2524393, 'name': 'Wyoming', 'slug': 'wy...","Wyoming, WY","{'id': 2035818309, 'name': 'Masverano Team', '..."
23,58,Special deluxe omnibus edition of AWARD-WINNIN...,5041.0,Canada,CAD,USD,False,0.746744,5000.0,False,...,5002.920719,domestic,2024-01-01,NaN,"{'id': 47, 'name': 'Fiction', 'analytics_name'...",Publishing,Fiction,"{'id': 4177, 'name': 'Halifax', 'slug': 'halif...","Halifax, Canada","{'id': 703706672, 'name': 'Janice Godin', 'is_..."
22,108,"Agnimu Rehpot is back for a second printing, a...",6614.0,the United States,USD,USD,False,1.000000,1000.0,False,...,6614.000000,domestic,2024-01-01,NaN,"{'id': 47, 'name': 'Fiction', 'analytics_name'...",Publishing,Fiction,"{'id': 2386255, 'name': 'Covington', 'slug': '...","Covington, KY","{'id': 908806029, 'name': 'Mike Maydak', 'slug..."
1,1,Cozy Kornerz is a fun new redecorating tool th...,1.0,the United States,USD,USD,False,1.000000,20000.0,False,...,1.000000,domestic,2024-01-01,NaN,"{'id': 260, 'name': 'Interactive Design', 'ana...",Design,Interactive Design,"{'id': 2424766, 'name': 'Houston', 'slug': 'ho...","Houston, TX","{'id': 427490455, 'name': 'Anna-Marie Haynes',..."
1219432,28,Are you Alright is a dark comedic tale explori...,1562.0,the United Kingdom,GBP,USD,False,1.260451,11500.0,False,...,1566.491231,domestic,2024-02-01,NaN,"{'id': 292, 'name': 'Comedy', 'analytics_name'...",Film & Video,Comedy,"{'id': 44418, 'name': 'London', 'slug': 'londo...","London, UK","{'id': 235255260, 'name': 'Danielle Goff', 'sl..."
1219431,606,A feature length comedy about three henchpeopl...,55908.0,the United States,USD,USD,False,1.000000,15000.0,False,...,55908.000000,domestic,2024-02-01,NaN,"{'id': 292, 'name': 'Comedy', 'analytics_name'...",Film & Video,Comedy,"{'id': 2477080, 'name': 'Provo', 'slug': 'prov...","Provo, UT","{'id': 1863773705, 'name': 'Team Squad', 'slug..."
1219429,5,A comedic talk show for people who hate talk s...,34.0,the United Kingdom,GBP,USD,False,1.260451,500.0,False,...,34.097711,domestic,2024-02-01,NaN,"{'id': 292, 'name': 'Comedy', 'analytics_name'...",Film & Video,Comedy,"{'id': 19894, 'name': 'Falmouth', 'slug': 'fal...","Falmouth, UK","{'id': 1232601698, 'name': 'Crabbos Conundrum'..."
1219433,24,The genital herpes rom-com short we've all bee...,617.0,the United Kingdom,GBP,USD,False,1.260451,650.0,False,...,619.016696,domestic,2024-02-01,NaN,"{'id': 292, 'name': 'Comedy', 'analytics_name'...",Film & Video,Comedy,"{'id': 19344, 'name': 'Edinburgh', 'slug': 'ed...","Edinburgh, UK","{'id': 1042804609, 'name': 'Ina Morken', 'slug..."
1219428,3,Bean man show is a tv series about 2 Brothers ...,61.0,the United States,USD,USD,False,1.000000,1000.0,False,...,61.000000,domestic,2024-02-01,NaN,"{'id': 292, 'name': 'Comedy', 'analytics_name'...",Film & Video,Comedy,"{'id': 2355207, 'name': 'Apalachin', 'slug': '...","Apalachin, NY","{'id': 1410132959, 'name': 'Justus', 'slug': '..."
293871,30,Once again Smoke & Oakum Theatre is heading up...,2840.0,the United Kingdom,GBP,USD,False,1.279463,1800.0,False,...,2835.450879,international,2024-03-01,NaN,"{'id': 285, 'name': 'Plays', 'analytics_name':...",Theater,Plays,"{'id': 19344, 'name': 'Edinburgh', 'slug': 'ed...","Edinburgh, UK","{'id': 98004360, 'name': 'Oliver Forsyth', 'is..."
293848,0,Eight books. Five stories. One epic sci-fantas...,NaN,the United States,USD,USD,False,1.000000,0.0,False,...,NaN,international,2024-03-01,NaN,"{'id': 47, 'name': 'Fiction', 'analytics_name'...",Publishing,Fiction,"{'id': 2396707, 'name': 'Eau Claire', 'slug': ...","Eau Claire, WI","{'id': 617025680, 'name': 'Starr Z. Davies', '..."
293849,2,A full-fledged Arduino based Syntheszier costi...,26.0,the United States,USD,USD,False,1.000000,25000.0,False,...,26.000000,international,2024-03-01,NaN,"{'id': 339, 'name': 'Sound', 'analytics_name':...",Technology,Sound,"{'id': 2359662, 'name': 'Bartlett', 'slug': 'b...","Bartlett, IL","{'id': 511010, 'name': 'Dan Schulz', 'is_regis..."
293845,0,A Christian-Thriller Novel following Lydia Eve...,NaN,the United States,USD,USD,False,1.000000,0.0,False,...,NaN,international,2024-03-01,NaN,"{'id': 47, 'name': 'Fiction', 'analytics_name'...",Publishing,Fiction,"{'id': 2427032, 'name': 'Indianapolis', 'slug'...","Indianapolis, IN","{'id': 524109464, 'name': 'Stephinie Johnson',..."
293861,79,All aboard for the world premiere of a new ste...,5813.0,the United States,USD,USD,False,1.000000,5000.0,False,...,5813.000000,international,2024-03-01,NaN,"{'id': 285, 'name': 'Plays', 'analytics_name':...",Theater,Plays,"{'id': 2490383, 'name': 'Seattle', 'slug': 'se...","Seattle, WA","{'id': 1086790052, 'name': 'Pork Filled Produc..."
520749,6,"Hi, friends! Raccoons cafe - NEW format of cof...",38.0,the United States,USD,USD,False,1.000000,19000.0,False,...,38.000000,international,2024-04-01,NaN,"{'id': 307, 'name': 'Drinks', 'analytics_name'...",Food,Drinks,"{'id': 937883, 'name': 'Vinnytsya', 'slug': 'v...","Vinnytsya, Ukraine","{'id': 690906324, 'name': 'Kovalenko Yevhenii'..."
520748,13,We would like to create craft beer to honor ve...,778.0,the United States,USD,USD,False,1.000000,20000.0,False,...,778.000000,international,2024-04-01,NaN,"{'id': 307, 'name': 'Drinks', 'analytics_name'...",Food,Drinks,"{'id': 2458076, 'name': 'New Braunfels', 'slug...","New Braunfels, TX","{'id': 462383239, 'name': 'Salute Brewing', 's..."
520747,13,We want to create a Bar and Board Game Emporiu...,920.0,the United States,USD,USD,False,1.000000,10000.0,False,...,920.000000,international,2024-04-01,NaN,"{'id': 307, 'name': 'Drinks', 'analytics_name'...",Food,Drinks,"{'id': 2508533, 'name': 'Tulsa', 'slug': 'tuls...","Tulsa, OK","{'id': 598152946, 'name': 'Carissa Hull', 'is_..."
520736,21,"A brew pub in the heart of St. Charles County,...",1221.0,the United States,USD,USD,False,1.000000,5000.0,False,...,1221.000000,international,2024-04-01,NaN,"{'id': 307, 'name': 'Drinks', 'analytics_name'...",Food,Drinks,"{'id': 55807082, 'name': 'O'Fallon', 'slug': '...","O'Fallon, MO","{'id': 1457348986, 'name': 'Michael Crowell', ..."
520761,82,A new selection of quality soft enamel pins fr...,3613.0,Canada,CAD,USD,False,0.726831,250.0,False,...,3550.198998,international,2024-04-01,NaN,"{'id': 22, 'name': 'Illustration', 'analytics_...",Art,Illustration,"{'id': 9807, 'name': 'Vancouver', 'slug': 'van...","Vancouver, Canada","{'id': 1265447527, 'name': 'Miguel Molina', 's..."
1732627,24,Valley F.E.A.S.T is a sustainable community bu...,727.0,the United States,USD,USD,False,1.000000,600.0,False,...,727.000000,international,2024-05-01,NaN,"{'id': 25, 'name': 'Sculpture', 'analytics_nam...",Art,Sculpture,"{'id': 2461848, 'name': 'Northampton', 'slug':...","Northampton, MA","{'id': 1601202252, 'name': 'Valley F.E.A.S.T.'..."
1732635,3,"Enamel pin celebrating the #RoadLife, Skoolie ...",24.0,the United States,USD,USD,False,1.000000,600.0,False,...,24.000000,international,2024-05-01,NaN,"{'id': 267, 'name': 'Jewelry', 'analytics_name...",Fashion,Jewelry,"{'id': 2475687, 'name': 'Portland', 'slug': 'p...","Portland, OR","{'id': 259256530, 'name': 'Indigo Kelleigh', '..."
1732628,23,Emergent Structures is a threefold art process...,580.0,the United States,USD,USD,False,1.000000,500.0,False,...,580.000000,international,2024-05-01,NaN,"{'id': 25, 'name': 'Sculpture', 'analytics_nam...",Art,Sculpture,"{'id': 2486982, 'name': 'St. Louis', 'slug': '...","St. Louis, MO","{'id': 1345101540, 'name': 'Carrie M. Becker',..."
1732629,1,"I'm trying to build my own tipi, so I can live...",20.0,the United States,USD,USD,False,1.000000,2750.0,False,...,20.000000,international,2024-05-01,NaN,"{'id': 345, 'name': 'DIY', 'analytics_name': '...",Crafts,DIY,"{'id': 2362060, 'name': 'Bellingham', 'slug': ...","Bellingham, WA","{'id': 1237779757, 'name': 'Kyrin Heiter', 'is..."
1732630,0,I want to create ways to care for my skin with...,0.0,the United States,USD,USD,False,1.000000,2400.0,False,...,0.000000,international,2024-05-01,NaN,"{'id': 345, 'name': 'DIY', 'analytics_name': '...",Crafts,DIY,"{'id': 12589335, 'name': 'Brooklyn', 'slug': '...","Brooklyn, NY","{'id': 1312897904, 'name': 'Eb Craig', 'is_reg..."
1219409,109,We are moving! Making innovative pottery in Lo...,12568.0,the United Kingdom,GBP,USD,False,1.271558,4000.0,False,...,12426.416935,domestic,2024-06-01,NaN,"{'id': 350, 'name': 'Pottery', 'analytics_name...",Crafts,Pottery,"{'id': 44418, 'name': 'London', 'slug': 'londo...","London, UK","{'id': 1961511689, 'name': 'SGW Lab', 'slug': ..."
1219421,0,This KickStarter will help me get to Austria f...,0.0,the United States,USD,USD,False,1.000000,8000.0,False,...,0.000000,domestic,2024-06-01,NaN,"{'id': 359, 'name': 'Print', 'analytics_name':...",Journalism,Print,"{'id': 551801, 'name': 'Vienna', 'slug': 'vien...","Vienna, Austria","{'id': 1585428929, 'name': 'Stephen Snyder Jr'..."
1219406,213,Where the TWILIGHT ZONE and TWIN PEAKS Meet...,15279.0,the United States,USD,USD,False,1.000000,2000.0,False,...,15279.000000,domestic,2024-06-01,NaN,"{'id': 47, 'name': 'Fiction', 'analytics_name'...",Publishing,Fiction,"{'id': 2436704, 'name': 'Las Vegas', 'slug': '...","Las Vegas, NV","{'id': 403649867, 'name': 'Dean Wesley Smith',..."
1219413,320,We're on a mission to take the plastic out of ...,26978.0,the United States,USD,USD,False,1.000000,7500.0,False,...,26978.000000,domestic,2024-06-01,NaN,"{'id': 28, 'name': 'Product Design', 'analytic...",Design,Product Design,"{'id': 2367231, 'name': 'Boulder', 'slug': 'bo...","Boulder, CO","{'id': 666747342, 'name': 'Chris Mears', 'slug..."
1219420,0,Our goal is to help musicians to make official...,0.0,France,EUR,USD,False,1.074195,30000.0,False,...,0.000000,domestic,2024-06-01,NaN,"{'id': 44, 'name': 'World Music', 'analytics_n...",Music,World Music,"{'id': 593720, 'name': 'Grenoble', 'slug': 'gr...","Grenoble, France","{'id': 1695547820, 'name': 'Maximilian Urazov'..."
565749,5,The Roli Business Card App. \nScan a business...,233.0,the United States,USD,USD,False,1.000000,60000.0,False,...,233.000000,domestic,2024-07-01,NaN,"{'id': 332, 'name': 'Apps', 'analytics_name': ...",Technology,Apps,"{'id': 2513171, 'name': 'Wailuku', 'slug': 'wa...","Wailuku, HI","{'id': 103367451, 'name': 'Yolanda Rae', 'slug..."
565745,20,Leadership High School kicked off 2015 by fina...,1410.0,the United States,USD,USD,False,1.000000,1300.0,False,...,1410.000000,domestic,2024-07-01,NaN,"{'id': 53, 'name': 'Public Art', 'analytics_na...",Art,Public Art,"{'id': 2487956, 'name': 'San Francisco', 'slug...","San Francisco, CA","{'id': 440459554, 'name': 'Painting with Purpo..."
565744,223,The Bigfoot Trail is a 360 mile route through ...,13611.0,the United States,USD,USD,False,1.000000,2500.0,False,...,13611.000000,domestic,2024-07-01,NaN,"{'id': 53, 'name': 'Public Art', 'analytics_na...",Art,Public Art,"{'id': 2355561, 'name': 'Arcata', 'slug': 'arc...","Arcata, CA","{'id': 1222251482, 'name': 'Michael Kauffmann'..."
565748,2,An all in one fitness club that helps fitness ...,2.0,the United States,USD,USD,False,1.000000,15000.0,False,...,2.000000,domestic,2024-07-01,NaN,"{'id': 332, 'name': 'Apps', 'analytics_name': ...",Technology,Apps,"{'id': 2514815, 'name': 'Washington', 'slug': ...","Washington, DC","{'id': 1947171749, 'name': 'Sujay Namburi', 's..."
565746,7,Millennial fashion designer Feryaal Akhtar has...,410.0,the United Kingdom,GBP,USD,False,1.286050,5000.0,False,...,415.064604,domestic,2024-07-01,NaN,"{'id': 265, 'name': 'Couture', 'analytics_name...",Fashion,Couture,"{'id': 44418, 'name': 'London', 'slug': 'londo...","London, UK","{'id': 1487668520, 'name': 'Designers for Refu..."
1510993,1,"We are establishing a music scene in Hartford,...",1.0,the United States,USD,USD,False,1.000000,15000.0,False,...,1.000000,domestic,2024-08-01,NaN,"{'id': 39, 'name': 'Hip-Hop', 'analytics_name'...",Music,Hip-Hop,"{'id': 2418244, 'name': 'Hartford', 'slug': 'h...","Hartford, CT","{'id': 158352622, 'name': 'GodFrey (deleted)',..."
1510994,0,MTS ASL Curriculum Workbook is a reproducible ...,0.0,the United States,USD,USD,False,1.000000,1500.0,False,...,0.000000,domestic,2024-08-01,NaN,"{'id': 323, 'name': 'Academic', 'analytics_nam...",Publishing,Academic,"{'id': 2487952, 'name': 'San Fernando', 'slug'...","San Fernando, CA","{'id': 1469579873, 'name': 'Diana L. Smith', '..."
1510995,99,This volume will expand on www.lovecraftiansci...,1464.0,the United States,USD,USD,False,1.000000,3000.0,False,...,1464.000000,domestic,2024-08-01,NaN,"{'id': 323, 'name': 'Academic', 'analytics_nam...",Publishing,Academic,"{'id': 2516811, 'name': 'West Chester', 'slug'...","West Chester, PA","{'id': 1081353216, 'name': 'Fred Lubnow', 'is_..."
1510996,5,A digital necklace,594.0,Mexico,MXN,USD,False,0.053129,975000.0,False,...,618.205135,domestic,2024-08-01,NaN,"{'id': 341, 'name': 'Wearables', 'analytics_na...",Technology,Wearables,"{'id': 55889096, 'name': 'Mexico', 'slug': 'me...","Mexico, Mexico","{'id': 1465811889, 'name': 'Hanzel Newcastle',..."
1510999,1,I'm creating the first listings (products) for...,26.0,the United Kingdom,GBP,USD,False,1.275800,500.0,False,...,27.118434,domestic,2024-08-01,NaN,"{'id': 345, 'name': 'DIY', 'analytics_name': '...",Crafts,DIY,"{'id': 39321, 'name': 'Watford', 'slug': 'watf...","Watford, UK","{'id': 511623050, 'name': 'Charis Leath', 'slu..."
1252430,5,Celebrating the beauty of Black women and chal...,127.0,the United States,USD,USD,False,1.000000,1000.0,False,...,127.000000,domestic,2024-09-01,NaN,"{'id': 278, 'name': 'People', 'analytics_name'...",Photography,People,"{'id': 2442047, 'name': 'Los Angeles', 'slug':...","Los Angeles, CA","{'id': 2108621671, 'name': 'Micherlange', 'is_..."
1252377,111,Our goal is to create a cutting-edge classical...,14439.0,the United States,USD,USD,False,1.000000,13192.0,False,...,14439.000000,domestic,2024-09-01,NaN,"{'id': 36, 'name': 'Classical Music', 'analyti...",Music,Classical Music,"{'id': 2459115, 'name': 'New York', 'slug': 'n...","New York, NY","{'id': 798668615, 'name': 'Arianna Warsaw-Fan'..."
1252404,48,A novelty purse inspired by gothic architectur...,7449.0,the United States,USD,USD,False,1.000000,6800.0,False,...,7449.000000,domestic,2024-09-01,NaN,"{'id': 262, 'name': 'Accessories', 'analytics_...",Fashion,Accessories,"{'id': 2357536, 'name': 'Austin', 'slug': 'aus...","Austin, TX","{'id': 1605804521, 'name': 'House of Hex', 'sl..."
1252372,183,Help us record our kid's CD and allow classica...,12800.0,the United States,USD,USD,False,1.000000,12000.0,False,...,12800.000000,domestic,2024-09-01,NaN,"{'id': 36, 'name': 'Classical Music', 'analyti...",Music,Classical Music,"{'id': 2367105, 'name': 'Boston', 'slug': 'bos...","Boston, MA","{'id': 55001843, 'name': 'Elizabeth Jeanne Sch..."
1252403,20,When Hugo Martin discovers the secret world of...,2731.0,the United States,USD,USD,False,1.000000,5000.0,False,...,2731.000000,domestic,2024-09-01,False,"{'id': 330, 'name': 'Family', 'analytics_name'...",Film & Video,Family,"{'id': 2488933, 'name': 'Santaquin', 'slug': '...","Santaquin, UT","{'id': 542576628, 'name': 'Mikael Bjorn', 'is_..."
2207590,4,A 24/7 platform providing live streaming of Gr...,31.0,the United States,USD,USD,False,1.000000,130000.0,False,...,31.000000,domestic,2024-10-01,NaN,"{'id': 299, 'name': 'Music Videos', 'analytics...",Film & Video,Music Videos,"{'id': 2358820, 'name': 'Baltimore', 'slug': '...","Baltimore, MD","{'id': 1741691902, 'name': 'Emmanuil Kamos', '..."
2207591,1,Our team will gather Nepalese people living in...,1.0,the United States,USD,USD,False,1.000000,6000.0,False,...,1.000000,domestic,2024-10-01,NaN,"{'id': 299, 'name': 'Music Videos', 'analytics...",Film & Video,Music Videos,"{'id': 2490116, 'name': 'Scranton', 'slug': 's...","Scranton, PA","{'id': 592224850, 'name': 'Dal Rai (deleted)',..."
2207592,73,There are tomboys. There are girlie girls. And...,9515.0,Ireland,EUR,USD,False,1.092571,15000.0,False,...,9882.846673,domestic,2024-10-01,NaN,"{'id': 264, 'name': 'Childrenswear', 'analytic...",Fashion,Childrenswear,"{'id': 560743, 'name': 'Dublin', 'slug': 'dubl...","Dublin, Ireland","{'id': 727724685, 'name': 'Clodagh Connell', '..."
2207596,31,A collection inspired by vintage Valentine’s l...,5917.0,Switzerland,CHF,USD,False,1.165008,5000.0,False,...,5964.214717,domestic,2024-10-01,False,"{'id': 263, 'name': 'Apparel', 'analytics_name...",Fashion,Apparel,"{'id': 783058, 'name': 'Lausanne', 'slug': 'la...","Lausanne, Switzerland","{'id': 2092325977, 'name': 'Fluffy Kawaii Jo',..."
2207594,22,"The most comfortable, high quality and eco-fri...",6266.0,Canada,CAD,USD,False,0.725907,7000.0,False,...,6282.754251,domestic,2024-10-01,False,"{'id': 263, 'name': 'Apparel', 'analytics_name...",Fashion,Apparel,"{'id': 4122, 'name': 'Oakville', 'slug': 'oakv...","Oakville, Canada","{'id': 1729032100, 'name': 'Hala Hijazi', 'slu..."
266827,11,"""Fritkots De Belgique"" is a project that consi...",610.0,Belgium,EUR,USD,False,1.061853,2500.0,False,...,602.880757,domestic,2024-11-01,NaN,"{'id': 279, 'name': 'Places', 'analytics_name'...",Photography,Places,"{'id': 968019, 'name': 'Brussels', 'slug': 'br...","Brussels, Belgium","{'id': 1213927046, 'name': 'Sébastien Van Mald..."
266825,6,An upcoming app with a unique mission: to make...,217.0,Singapore,SGD,USD,False,0.747329,2100.0,False,...,220.158754,domestic,2024-11-01,NaN,"{'id': 332, 'name': 'Apps', 'analytics_name': ...",Technology,Apps,"{'id': 1062617, 'name': 'Singapore', 'slug': '...","Singapore, Singapore","{'id': 883762218, 'name': 'Krishiv', 'slug': '..."
266826,12,"Following the success of Kynk 101, we have cre...",317.0,the United Kingdom,GBP,USD,False,1.274527,1200.0,False,...,320.649849,domestic,2024-11-01,NaN,"{'id': 332, 'name': 'Apps', 'analytics_name': ...",Technology,Apps,"{'id': 44418, 'name': 'London', 'slug': 'londo...","London, UK","{'id': 1512113277, 'name': 'Kynk 101', 'slug':..."
266822,10,The Coucharmy Sneakers / Home Slippers - For t...,2279.0,Germany,EUR,USD,False,1.061853,20000.0,False,...,2333.552926,domestic,2024-11-01,NaN,"{'id': 266, 'name': 'Footwear', 'analytics_nam...",Fashion,Footwear,"{'id': 709411, 'name': 'Frankfurt Main', 'slug...","Frankfurt Main, Germany","{'id': 982462646, 'name': 'Coucharmy', 'slug':..."
266828,8,"Changing the world, one Squeeze at a time. The...",2498.0,Singapore,SGD,USD,False,0.747329,56000.0,False,...,2519.661432,domestic,2024-11-01,NaN,"{'id': 332, 'name': 'Apps', 'analytics_name': ...",Technology,Apps,"{'id': 1062617, 'name': 'Singapore', 'slug': '...","Singapore, Singapore","{'id': 1726395822, 'name': 'Roy panadiya', 'sl..."
783669,0,A book about drafting and fitting modern corsets,NaN,the United Kingdom,GBP,USD,False,1.276740,6807.0,False,...,NaN,domestic,2024-12-01,NaN,"{'id': 45, 'name': 'Art Books', 'analytics_nam...",Publishing,Art Books,"{'id': 17044, 'name': 'Coventry', 'slug': 'cov...","Coventry, UK","{'id': 416396304, 'name': 'Lucy Emke', 'slug':..."

In [124]:
for month, group in df.groupby('month'):
    # Create a flag to see if any column in this month has issues
    issues_found = False
    print(f"\nMonth: {month}")
    
    # Iterate through each column in the group
    for col in group.columns:
        # Count null values for this column
        null_count = group[col].isnull().sum()
        # Convert to string to avoid issues with unhashable types, then count duplicates
        dup_count = group[col].apply(str).duplicated().sum()
        
        # Only print if there are any nulls or duplicates in this column
        if null_count > 0 or dup_count > 0:
            print(f"Column '{col}': {null_count} nulls, {dup_count} duplicates")
            issues_found = True

    # If no columns had issues, you might want to indicate that
    if not issues_found:
        print("No null or duplicate values found in any column for this month.")

Month: 2024-01
Column 'backers_count': 0 nulls, 24527 duplicates
Column 'blurb': 3 nulls, 772 duplicates
Column 'category': 0 nulls, 25917 duplicates
Column 'converted_pledged_amount': 900 nulls, 14587 duplicates
Column 'country': 0 nulls, 25932 duplicates
Column 'country_displayable_name': 0 nulls, 25932 duplicates
Column 'created_at': 0 nulls, 601 duplicates
Column 'creator': 0 nulls, 76 duplicates
Column 'currency': 0 nulls, 25942 duplicates
Column 'currency_symbol': 0 nulls, 25950 duplicates
Column 'currency_trailing_code': 0 nulls, 25955 duplicates
Column 'current_currency': 0 nulls, 25956 duplicates
Column 'deadline': 0 nulls, 1731 duplicates
Column 'disable_communication': 0 nulls, 25955 duplicates
Column 'fx_rate': 0 nulls, 25942 duplicates
Column 'goal': 0 nulls, 24410 duplicates
Column 'id': 0 nulls, 600 duplicates
Column 'is_disliked': 0 nulls, 25956 duplicates
Column 'is_launched': 0 nulls, 25955 duplicates
Column 'is_liked': 0 nulls, 25956 duplicates
Column 'is_starrable': 0 nulls, 25955 duplicates
Column 'launched_at': 0 nulls, 1484 duplicates
Column 'location': 40 nulls, 21486 duplicates
Column 'name': 0 nulls, 622 duplicates
Column 'percent_funded': 0 nulls, 9623 duplicates
Column 'photo': 0 nulls, 618 duplicates
Column 'pledged': 0 nulls, 13036 duplicates
Column 'prelaunch_activated': 0 nulls, 25955 duplicates
Column 'profile': 0 nulls, 600 duplicates
Column 'slug': 0 nulls, 600 duplicates
Column 'source_url': 0 nulls, 25935 duplicates
Column 'spotlight': 0 nulls, 25955 duplicates
Column 'staff_pick': 0 nulls, 25955 duplicates
Column 'state': 0 nulls, 25950 duplicates
Column 'state_changed_at': 0 nulls, 934 duplicates
Column 'static_usd_rate': 0 nulls, 20057 duplicates
Column 'urls': 0 nulls, 600 duplicates
Column 'usd_exchange_rate': 900 nulls, 20130 duplicates
Column 'usd_pledged': 900 nulls, 9085 duplicates
Column 'usd_type': 0 nulls, 25955 duplicates
Column 'video': 8655 nulls, 9009 duplicates
Column 'source_file': 0 nulls, 25949 duplicates
Column 'month': 0 nulls, 25956 duplicates
Column 'is_in_post_campaign_pledging_phase': 25957 nulls, 25956 duplicates
Column 'parsed_category': 0 nulls, 25917 duplicates

Month: 2024-02
Column 'backers_count': 0 nulls, 24174 duplicates
Column 'blurb': 3 nulls, 744 duplicates
Column 'category': 0 nulls, 25543 duplicates
Column 'converted_pledged_amount': 946 nulls, 14297 duplicates
Column 'country': 0 nulls, 25558 duplicates
Column 'country_displayable_name': 0 nulls, 25558 duplicates
Column 'created_at': 0 nulls, 588 duplicates
Column 'creator': 0 nulls, 87 duplicates
Column 'currency': 0 nulls, 25568 duplicates
Column 'currency_symbol': 0 nulls, 25576 duplicates
Column 'currency_trailing_code': 0 nulls, 25581 duplicates
Column 'current_currency': 0 nulls, 25582 duplicates
Column 'deadline': 0 nulls, 1775 duplicates
Column 'disable_communication': 0 nulls, 25581 duplicates
Column 'fx_rate': 0 nulls, 25568 duplicates
Column 'goal': 0 nulls, 24072 duplicates
Column 'id': 0 nulls, 588 duplicates
Column 'is_disliked': 0 nulls, 25582 duplicates
Column 'is_launched': 0 nulls, 25581 duplicates
Column 'is_liked': 0 nulls, 25582 duplicates
Column 'is_starrable': 0 nulls, 25581 duplicates
Column 'launched_at': 0 nulls, 1524 duplicates
Column 'location': 40 nulls, 21155 duplicates
Column 'name': 0 nulls, 610 duplicates
Column 'percent_funded': 0 nulls, 9498 duplicates
Column 'photo': 0 nulls, 606 duplicates
Column 'pledged': 0 nulls, 12801 duplicates
Column 'prelaunch_activated': 0 nulls, 25581 duplicates
Column 'profile': 0 nulls, 588 duplicates
Column 'slug': 0 nulls, 588 duplicates
Column 'source_url': 0 nulls, 25562 duplicates
Column 'spotlight': 0 nulls, 25581 duplicates
Column 'staff_pick': 0 nulls, 25581 duplicates
Column 'state': 0 nulls, 25576 duplicates
Column 'state_changed_at': 0 nulls, 904 duplicates
Column 'static_usd_rate': 0 nulls, 19773 duplicates
Column 'urls': 0 nulls, 588 duplicates
Column 'usd_exchange_rate': 946 nulls, 19877 duplicates
Column 'usd_pledged': 946 nulls, 8944 duplicates
Column 'usd_type': 0 nulls, 25581 duplicates
Column 'video': 8564 nulls, 8910 duplicates
Column 'source_file': 0 nulls, 25575 duplicates
Column 'month': 0 nulls, 25582 duplicates
Column 'is_in_post_campaign_pledging_phase': 25583 nulls, 25582 duplicates
Column 'parsed_category': 0 nulls, 25543 duplicates

Month: 2024-03
Column 'backers_count': 0 nulls, 24655 duplicates
Column 'blurb': 3 nulls, 756 duplicates
Column 'category': 0 nulls, 26030 duplicates
Column 'converted_pledged_amount': 976 nulls, 14709 duplicates
Column 'country': 0 nulls, 26045 duplicates
Column 'country_displayable_name': 0 nulls, 26045 duplicates
Column 'created_at': 0 nulls, 585 duplicates
Column 'creator': 0 nulls, 84 duplicates
Column 'currency': 0 nulls, 26055 duplicates
Column 'currency_symbol': 0 nulls, 26063 duplicates
Column 'currency_trailing_code': 0 nulls, 26068 duplicates
Column 'current_currency': 0 nulls, 26069 duplicates
Column 'deadline': 0 nulls, 1802 duplicates
Column 'disable_communication': 0 nulls, 26068 duplicates
Column 'fx_rate': 0 nulls, 26055 duplicates
Column 'goal': 0 nulls, 24537 duplicates
Column 'id': 0 nulls, 585 duplicates
Column 'is_disliked': 0 nulls, 26069 duplicates
Column 'is_launched': 0 nulls, 26068 duplicates
Column 'is_liked': 0 nulls, 26069 duplicates
Column 'is_starrable': 0 nulls, 26068 duplicates
Column 'launched_at': 0 nulls, 1551 duplicates
Column 'location': 40 nulls, 21582 duplicates
Column 'name': 0 nulls, 610 duplicates
Column 'percent_funded': 0 nulls, 9731 duplicates
Column 'photo': 0 nulls, 604 duplicates
Column 'pledged': 0 nulls, 13195 duplicates
Column 'prelaunch_activated': 0 nulls, 26068 duplicates
Column 'profile': 0 nulls, 585 duplicates
Column 'slug': 0 nulls, 585 duplicates
Column 'source_url': 0 nulls, 26049 duplicates
Column 'spotlight': 0 nulls, 26068 duplicates
Column 'staff_pick': 0 nulls, 26068 duplicates
Column 'state': 0 nulls, 26063 duplicates
Column 'state_changed_at': 0 nulls, 923 duplicates
Column 'static_usd_rate': 0 nulls, 20142 duplicates
Column 'urls': 0 nulls, 585 duplicates
Column 'usd_exchange_rate': 976 nulls, 20239 duplicates
Column 'usd_pledged': 976 nulls, 9191 duplicates
Column 'usd_type': 0 nulls, 26069 duplicates
Column 'video': 8739 nulls, 9084 duplicates
Column 'source_file': 0 nulls, 26062 duplicates
Column 'month': 0 nulls, 26069 duplicates
Column 'is_in_post_campaign_pledging_phase': 26070 nulls, 26069 duplicates
Column 'parsed_category': 0 nulls, 26030 duplicates

Month: 2024-04
Column 'backers_count': 0 nulls, 238095 duplicates
Column 'blurb': 14 nulls, 33162 duplicates
Column 'category': 0 nulls, 241198 duplicates
Column 'converted_pledged_amount': 10304 nulls, 204998 duplicates
Column 'country': 0 nulls, 241344 duplicates
Column 'country_displayable_name': 0 nulls, 241344 duplicates
Column 'created_at': 0 nulls, 31099 duplicates
Column 'creator': 0 nulls, 951 duplicates
Column 'currency': 0 nulls, 241354 duplicates
Column 'currency_symbol': 0 nulls, 241362 duplicates
Column 'currency_trailing_code': 0 nulls, 241367 duplicates
Column 'current_currency': 0 nulls, 241365 duplicates
Column 'deadline': 0 nulls, 47052 duplicates
Column 'disable_communication': 0 nulls, 241367 duplicates
Column 'fx_rate': 0 nulls, 241337 duplicates
Column 'goal': 0 nulls, 234741 duplicates
Column 'id': 0 nulls, 31010 duplicates
Column 'is_disliked': 0 nulls, 241368 duplicates
Column 'is_launched': 0 nulls, 241367 duplicates
Column 'is_liked': 0 nulls, 241368 duplicates
Column 'is_starrable': 0 nulls, 241367 duplicates
Column 'launched_at': 0 nulls, 36831 duplicates
Column 'location': 180 nulls, 223887 duplicates
Column 'name': 0 nulls, 31736 duplicates
Column 'percent_funded': 0 nulls, 147993 duplicates
Column 'photo': 0 nulls, 31105 duplicates
Column 'pledged': 0 nulls, 186760 duplicates
Column 'prelaunch_activated': 0 nulls, 241367 duplicates
Column 'profile': 0 nulls, 31005 duplicates
Column 'slug': 0 nulls, 31010 duplicates
Column 'source_url': 0 nulls, 241198 duplicates
Column 'spotlight': 0 nulls, 241367 duplicates
Column 'staff_pick': 0 nulls, 241367 duplicates
Column 'state': 0 nulls, 241362 duplicates
Column 'state_changed_at': 0 nulls, 40844 duplicates
Column 'static_usd_rate': 0 nulls, 221558 duplicates
Column 'urls': 0 nulls, 31010 duplicates
Column 'usd_exchange_rate': 10304 nulls, 221499 duplicates
Column 'usd_pledged': 10304 nulls, 141024 duplicates
Column 'usd_type': 156 nulls, 241367 duplicates
Column 'video': 87531 nulls, 104744 duplicates
Column 'source_file': 0 nulls, 241296 duplicates
Column 'month': 0 nulls, 241368 duplicates
Column 'is_in_post_campaign_pledging_phase': 241369 nulls, 241368 duplicates
Column 'parsed_category': 0 nulls, 241198 duplicates

Month: 2024-05
Column 'backers_count': 0 nulls, 238588 duplicates
Column 'blurb': 12 nulls, 33245 duplicates
Column 'category': 0 nulls, 241686 duplicates
Column 'converted_pledged_amount': 10244 nulls, 205366 duplicates
Column 'country': 0 nulls, 241832 duplicates
Column 'country_displayable_name': 0 nulls, 241832 duplicates
Column 'created_at': 0 nulls, 31188 duplicates
Column 'creator': 0 nulls, 966 duplicates
Column 'currency': 0 nulls, 241842 duplicates
Column 'currency_symbol': 0 nulls, 241850 duplicates
Column 'currency_trailing_code': 0 nulls, 241855 duplicates
Column 'current_currency': 0 nulls, 241854 duplicates
Column 'deadline': 0 nulls, 47150 duplicates
Column 'disable_communication': 0 nulls, 241855 duplicates
Column 'fx_rate': 0 nulls, 241833 duplicates
Column 'goal': 0 nulls, 235204 duplicates
Column 'id': 0 nulls, 31098 duplicates
Column 'is_disliked': 0 nulls, 241856 duplicates
Column 'is_launched': 0 nulls, 241855 duplicates
Column 'is_liked': 0 nulls, 241856 duplicates
Column 'is_starrable': 0 nulls, 241855 duplicates
Column 'launched_at': 0 nulls, 36958 duplicates
Column 'location': 177 nulls, 224135 duplicates
Column 'name': 0 nulls, 31825 duplicates
Column 'percent_funded': 0 nulls, 148301 duplicates
Column 'photo': 0 nulls, 31194 duplicates
Column 'pledged': 0 nulls, 187203 duplicates
Column 'prelaunch_activated': 0 nulls, 241855 duplicates
Column 'profile': 0 nulls, 31092 duplicates
Column 'slug': 0 nulls, 31098 duplicates
Column 'source_url': 0 nulls, 241686 duplicates
Column 'spotlight': 0 nulls, 241855 duplicates
Column 'staff_pick': 0 nulls, 241855 duplicates
Column 'state': 0 nulls, 241850 duplicates
Column 'state_changed_at': 0 nulls, 40922 duplicates
Column 'static_usd_rate': 0 nulls, 221935 duplicates
Column 'urls': 0 nulls, 31098 duplicates
Column 'usd_exchange_rate': 10244 nulls, 221891 duplicates
Column 'usd_pledged': 10244 nulls, 141185 duplicates
Column 'usd_type': 72 nulls, 241855 duplicates
Column 'video': 87530 nulls, 104938 duplicates
Column 'source_file': 0 nulls, 241784 duplicates
Column 'month': 0 nulls, 241856 duplicates
Column 'is_in_post_campaign_pledging_phase': 241857 nulls, 241856 duplicates
Column 'parsed_category': 0 nulls, 241686 duplicates

Month: 2024-06
Column 'backers_count': 0 nulls, 204526 duplicates
Column 'blurb': 9 nulls, 23780 duplicates
Column 'category': 0 nulls, 207145 duplicates
Column 'converted_pledged_amount': 9059 nulls, 174996 duplicates
Column 'country': 0 nulls, 207281 duplicates
Column 'country_displayable_name': 0 nulls, 207281 duplicates
Column 'created_at': 0 nulls, 22029 duplicates
Column 'creator': 0 nulls, 825 duplicates
Column 'currency': 0 nulls, 207291 duplicates
Column 'currency_symbol': 0 nulls, 207299 duplicates
Column 'currency_trailing_code': 0 nulls, 207304 duplicates
Column 'current_currency': 0 nulls, 207304 duplicates
Column 'deadline': 0 nulls, 35307 duplicates
Column 'disable_communication': 0 nulls, 207304 duplicates
Column 'fx_rate': 0 nulls, 207274 duplicates
Column 'goal': 0 nulls, 201209 duplicates
Column 'id': 0 nulls, 21958 duplicates
Column 'is_disliked': 0 nulls, 207305 duplicates
Column 'is_launched': 0 nulls, 207304 duplicates
Column 'is_liked': 0 nulls, 207305 duplicates
Column 'is_starrable': 0 nulls, 207304 duplicates
Column 'launched_at': 0 nulls, 27380 duplicates
Column 'location': 157 nulls, 189474 duplicates
Column 'name': 0 nulls, 22545 duplicates
Column 'percent_funded': 0 nulls, 125063 duplicates
Column 'photo': 0 nulls, 22047 duplicates
Column 'pledged': 0 nulls, 159578 duplicates
Column 'prelaunch_activated': 0 nulls, 207304 duplicates
Column 'profile': 0 nulls, 21957 duplicates
Column 'slug': 0 nulls, 21958 duplicates
Column 'source_url': 0 nulls, 207160 duplicates
Column 'spotlight': 0 nulls, 207304 duplicates
Column 'staff_pick': 0 nulls, 207304 duplicates
Column 'state': 0 nulls, 207299 duplicates
Column 'state_changed_at': 0 nulls, 29596 duplicates
Column 'static_usd_rate': 0 nulls, 188343 duplicates
Column 'urls': 0 nulls, 21957 duplicates
Column 'usd_exchange_rate': 9059 nulls, 188316 duplicates
Column 'usd_pledged': 9059 nulls, 118920 duplicates
Column 'usd_type': 12 nulls, 207303 duplicates
Column 'video': 78096 nulls, 89386 duplicates
Column 'source_file': 0 nulls, 207243 duplicates
Column 'month': 0 nulls, 207305 duplicates
Column 'is_in_post_campaign_pledging_phase': 207306 nulls, 207305 duplicates
Column 'parsed_category': 0 nulls, 207145 duplicates

Month: 2024-07
Column 'backers_count': 0 nulls, 239430 duplicates
Column 'blurb': 11 nulls, 33338 duplicates
Column 'category': 0 nulls, 242528 duplicates
Column 'converted_pledged_amount': 10602 nulls, 206051 duplicates
Column 'country': 0 nulls, 242674 duplicates
Column 'country_displayable_name': 0 nulls, 242674 duplicates
Column 'created_at': 0 nulls, 31270 duplicates
Column 'creator': 0 nulls, 953 duplicates
Column 'currency': 0 nulls, 242684 duplicates
Column 'currency_symbol': 0 nulls, 242692 duplicates
Column 'currency_trailing_code': 0 nulls, 242697 duplicates
Column 'current_currency': 0 nulls, 242698 duplicates
Column 'deadline': 0 nulls, 47451 duplicates
Column 'disable_communication': 0 nulls, 242697 duplicates
Column 'fx_rate': 0 nulls, 242670 duplicates
Column 'goal': 0 nulls, 236024 duplicates
Column 'id': 0 nulls, 31181 duplicates
Column 'is_disliked': 0 nulls, 242698 duplicates
Column 'is_launched': 0 nulls, 242697 duplicates
Column 'is_liked': 0 nulls, 242698 duplicates
Column 'is_starrable': 0 nulls, 242697 duplicates
Column 'launched_at': 0 nulls, 37253 duplicates
Column 'location': 177 nulls, 224409 duplicates
Column 'name': 0 nulls, 31907 duplicates
Column 'percent_funded': 0 nulls, 149013 duplicates
Column 'photo': 0 nulls, 31283 duplicates
Column 'pledged': 0 nulls, 188117 duplicates
Column 'prelaunch_activated': 0 nulls, 242697 duplicates
Column 'profile': 0 nulls, 31178 duplicates
Column 'slug': 0 nulls, 31181 duplicates
Column 'source_url': 0 nulls, 242528 duplicates
Column 'spotlight': 0 nulls, 242697 duplicates
Column 'staff_pick': 0 nulls, 242697 duplicates
Column 'state': 0 nulls, 242692 duplicates
Column 'state_changed_at': 0 nulls, 41013 duplicates
Column 'static_usd_rate': 0 nulls, 222519 duplicates
Column 'urls': 0 nulls, 31181 duplicates
Column 'usd_exchange_rate': 10602 nulls, 222476 duplicates
Column 'usd_pledged': 10602 nulls, 141722 duplicates
Column 'usd_type': 0 nulls, 242697 duplicates
Column 'video': 88028 nulls, 105368 duplicates
Column 'source_file': 0 nulls, 242625 duplicates
Column 'month': 0 nulls, 242698 duplicates
Column 'is_in_post_campaign_pledging_phase': 242699 nulls, 242698 duplicates
Column 'parsed_category': 0 nulls, 242528 duplicates

Month: 2024-08
Column 'backers_count': 0 nulls, 240350 duplicates
Column 'blurb': 11 nulls, 33796 duplicates
Column 'category': 0 nulls, 243440 duplicates
Column 'converted_pledged_amount': 11199 nulls, 206974 duplicates
Column 'country': 0 nulls, 243586 duplicates
Column 'country_displayable_name': 0 nulls, 243586 duplicates
Column 'created_at': 0 nulls, 31725 duplicates
Column 'creator': 0 nulls, 1406 duplicates
Column 'currency': 0 nulls, 243596 duplicates
Column 'currency_symbol': 0 nulls, 243604 duplicates
Column 'currency_trailing_code': 0 nulls, 243609 duplicates
Column 'current_currency': 0 nulls, 243608 duplicates
Column 'deadline': 0 nulls, 48150 duplicates
Column 'disable_communication': 0 nulls, 243609 duplicates
Column 'fx_rate': 0 nulls, 243587 duplicates
Column 'goal': 0 nulls, 236921 duplicates
Column 'id': 0 nulls, 31638 duplicates
Column 'is_disliked': 0 nulls, 243610 duplicates
Column 'is_launched': 0 nulls, 243609 duplicates
Column 'is_liked': 0 nulls, 243610 duplicates
Column 'is_starrable': 0 nulls, 243609 duplicates
Column 'launched_at': 0 nulls, 37990 duplicates
Column 'location': 179 nulls, 225979 duplicates
Column 'name': 0 nulls, 32368 duplicates
Column 'percent_funded': 0 nulls, 150023 duplicates
Column 'photo': 0 nulls, 31742 duplicates
Column 'pledged': 0 nulls, 189066 duplicates
Column 'prelaunch_activated': 0 nulls, 243609 duplicates
Column 'profile': 0 nulls, 31635 duplicates
Column 'slug': 0 nulls, 31638 duplicates
Column 'source_url': 0 nulls, 243440 duplicates
Column 'spotlight': 0 nulls, 243609 duplicates
Column 'staff_pick': 0 nulls, 243609 duplicates
Column 'state': 0 nulls, 243604 duplicates
Column 'state_changed_at': 0 nulls, 41494 duplicates
Column 'static_usd_rate': 0 nulls, 223333 duplicates
Column 'urls': 0 nulls, 31638 duplicates
Column 'usd_exchange_rate': 11199 nulls, 223254 duplicates
Column 'usd_pledged': 11199 nulls, 142600 duplicates
Column 'usd_type': 24 nulls, 243608 duplicates
Column 'video': 88717 nulls, 106162 duplicates
Column 'source_file': 0 nulls, 243536 duplicates
Column 'month': 0 nulls, 243610 duplicates
Column 'is_in_post_campaign_pledging_phase': 203182 nulls, 243608 duplicates
Column 'parsed_category': 0 nulls, 243440 duplicates

Month: 2024-09
Column 'backers_count': 0 nulls, 240724 duplicates
Column 'blurb': 16 nulls, 33726 duplicates
Column 'category': 0 nulls, 243829 duplicates
Column 'converted_pledged_amount': 11385 nulls, 207187 duplicates
Column 'country': 0 nulls, 243975 duplicates
Column 'country_displayable_name': 0 nulls, 243975 duplicates
Column 'created_at': 0 nulls, 31630 duplicates
Column 'creator': 0 nulls, 1300 duplicates
Column 'currency': 0 nulls, 243985 duplicates
Column 'currency_symbol': 0 nulls, 243993 duplicates
Column 'currency_trailing_code': 0 nulls, 243998 duplicates
Column 'current_currency': 0 nulls, 243999 duplicates
Column 'deadline': 0 nulls, 48148 duplicates
Column 'disable_communication': 0 nulls, 243998 duplicates
Column 'fx_rate': 0 nulls, 243971 duplicates
Column 'goal': 0 nulls, 237306 duplicates
Column 'id': 0 nulls, 31545 duplicates
Column 'is_disliked': 0 nulls, 243999 duplicates
Column 'is_launched': 0 nulls, 243998 duplicates
Column 'is_liked': 0 nulls, 243999 duplicates
Column 'is_starrable': 0 nulls, 243998 duplicates
Column 'launched_at': 0 nulls, 38074 duplicates
Column 'location': 190 nulls, 226915 duplicates
Column 'name': 0 nulls, 32277 duplicates
Column 'percent_funded': 0 nulls, 150215 duplicates
Column 'photo': 0 nulls, 31652 duplicates
Column 'pledged': 0 nulls, 189380 duplicates
Column 'prelaunch_activated': 0 nulls, 243998 duplicates
Column 'profile': 0 nulls, 31542 duplicates
Column 'slug': 0 nulls, 31545 duplicates
Column 'source_url': 0 nulls, 243829 duplicates
Column 'spotlight': 0 nulls, 243998 duplicates
Column 'staff_pick': 0 nulls, 243998 duplicates
Column 'state': 0 nulls, 243993 duplicates
Column 'state_changed_at': 0 nulls, 41357 duplicates
Column 'static_usd_rate': 0 nulls, 223602 duplicates
Column 'urls': 0 nulls, 31545 duplicates
Column 'usd_exchange_rate': 11385 nulls, 223525 duplicates
Column 'usd_pledged': 11385 nulls, 142653 duplicates
Column 'usd_type': 0 nulls, 243998 duplicates
Column 'video': 88857 nulls, 106419 duplicates
Column 'source_file': 0 nulls, 243925 duplicates
Column 'month': 0 nulls, 243999 duplicates
Column 'is_in_post_campaign_pledging_phase': 200866 nulls, 243997 duplicates
Column 'parsed_category': 0 nulls, 243829 duplicates

Month: 2024-10
Column 'backers_count': 0 nulls, 229882 duplicates

In [132]:
grouped.get_group('2024-01-01')

,backers_count,blurb,converted_pledged_amount,country_displayable_name,currency,current_currency,disable_communication,fx_rate,goal,is_disliked,...,usd_pledged,usd_type,month,is_in_post_campaign_pledging_phase,parsed_category,category_name,subcategory,parsed_location,city,parsed_creator
0,2,Astrological Connections and Personal Wisdom,51.0,the United States,USD,USD,False,1.000000,60000.0,False,...,51.000000,domestic,2024-01-01,NaN,"{'id': 260, 'name': 'Interactive Design', 'ana...",Design,Interactive Design,"{'id': 2459115, 'name': 'New York', 'slug': 'n...","New York, NY","{'id': 1796521275, 'name': 'Jusmari', 'slug': ..."
24,318,Carbon wallet reimagined | Ultra light | Carbo...,27920.0,the United States,USD,USD,False,1.000000,6000.0,False,...,27920.000000,domestic,2024-01-01,NaN,"{'id': 28, 'name': 'Product Design', 'analytic...",Design,Product Design,"{'id': 2524393, 'name': 'Wyoming', 'slug': 'wy...","Wyoming, WY","{'id': 2035818309, 'name': 'Masverano Team', '..."
23,58,Special deluxe omnibus edition of AWARD-WINNIN...,5041.0,Canada,CAD,USD,False,0.746744,5000.0,False,...,5002.920719,domestic,2024-01-01,NaN,"{'id': 47, 'name': 'Fiction', 'analytics_name'...",Publishing,Fiction,"{'id': 4177, 'name': 'Halifax', 'slug': 'halif...","Halifax, Canada","{'id': 703706672, 'name': 'Janice Godin', 'is_..."
22,108,"Agnimu Rehpot is back for a second printing, a...",6614.0,the United States,USD,USD,False,1.000000,1000.0,False,...,6614.000000,domestic,2024-01-01,NaN,"{'id': 47, 'name': 'Fiction', 'analytics_name'...",Publishing,Fiction,"{'id': 2386255, 'name': 'Covington', 'slug': '...","Covington, KY","{'id': 908806029, 'name': 'Mike Maydak', 'slug..."
1,1,Cozy Kornerz is a fun new redecorating tool th...,1.0,the United States,USD,USD,False,1.000000,20000.0,False,...,1.000000,domestic,2024-01-01,NaN,"{'id': 260, 'name': 'Interactive Design', 'ana...",Design,Interactive Design,"{'id': 2424766, 'name': 'Houston', 'slug': 'ho...","Houston, TX","{'id': 427490455, 'name': 'Anna-Marie Haynes',..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25949,2,A brand new theatre production of 'The Strange...,39.0,the United Kingdom,GBP,USD,False,1.275463,400.0,False,...,38.477674,domestic,2024-01-01,NaN,"{'id': 285, 'name': 'Plays', 'analytics_name':...",Theater,Plays,"{'id': 30720, 'name': 'Nottingham', 'slug': 'n...","Nottingham, UK","{'id': 1108908794, 'name': 'Sally Nix', 'is_re..."
25944,19,Ever wanted to keep track of upcoming or curre...,147.0,Canada,CAD,USD,False,0.746744,150.0,False,...,150.828299,domestic,2024-01-01,NaN,"{'id': 51, 'name': 'Software', 'analytics_name...",Technology,Software,"{'id': 9861, 'name': 'Kelowna', 'slug': 'kelow...","Kelowna, Canada","{'id': 1479227317, 'name': 'Jan Ole Peek', 'is..."
25950,6,An immersive Halloween event & original play b...,122.0,the United States,USD,USD,False,1.000000,5000.0,False,...,122.000000,domestic,2024-01-01,NaN,"{'id': 285, 'name': 'Plays', 'analytics_name':...",Theater,Plays,"{'id': 2415443, 'name': 'Guerneville', 'slug':...","Guerneville, CA","{'id': 59797238, 'name': 'Lew Brown', 'slug': ..."
25953,1,A live on-stage recording of an audio play fol...,1.0,the United Kingdom,GBP,USD,False,1.275463,3400.0,False,...,1.217537,domestic,2024-01-01,NaN,"{'id': 285, 'name': 'Plays', 'analytics_name':...",Theater,Plays,"{'id': 36758, 'name': 'Swansea', 'slug': 'swan...","Swansea, UK","{'id': 419933177, 'name': 'Rhodri Hugh Thomas'..."
25951,3,A one act play about a young woman's time stud...,33.0,the United Kingdom,GBP,USD,False,1.275463,60.0,False,...,31.484621,domestic,2024-01-01,NaN,"{'id': 285, 'name': 'Plays', 'analytics_name':...",Theater,Plays,"{'id': 44418, 'name': 'London', 'slug': 'londo...","London, UK","{'id': 780196342, 'name': 'Stephanie Kirsty-Ki..."

In [133]:
df_sorted.drop(['parsed_category','parsed_location'],axis=1,inplace=True);

In [134]:
df_sorted.isnull().sum()

backers_count                               0
blurb                                     124
converted_pledged_amount                98423
country_displayable_name                    0
currency                                    0
current_currency                            0
disable_communication                       0
fx_rate                                     0
goal                                        0
is_disliked                                 0
is_launched                                 0
is_liked                                    0
is_starrable                                0
launched_at                                 0
name                                        0
percent_funded                              0
pledged                                     0
prelaunch_activated                         0
slug                                        0
spotlight                                   0
staff_pick                                  0
state                                       0
state_changed_at                            0
static_usd_rate                             0
usd_exchange_rate                       98423
usd_pledged                             98423
usd_type                                  840
month                                       0
is_in_post_campaign_pledging_phase    1985578
category_name                           45687
subcategory                                 0
city                                     1750
parsed_creator                           4901
dtype: int64

In [135]:
df_sorted.isna().sum()

backers_count                               0
blurb                                     124
converted_pledged_amount                98423
country_displayable_name                    0
currency                                    0
current_currency                            0
disable_communication                       0
fx_rate                                     0
goal                                        0
is_disliked                                 0
is_launched                                 0
is_liked                                    0
is_starrable                                0
launched_at                                 0
name                                        0
percent_funded                              0
pledged                                     0
prelaunch_activated                         0
slug                                        0
spotlight                                   0
staff_pick                                  0
state                                       0
state_changed_at                            0
static_usd_rate                             0
usd_exchange_rate                       98423
usd_pledged                             98423
usd_type                                  840
month                                       0
is_in_post_campaign_pledging_phase    1985578
category_name                           45687
subcategory                                 0
city                                     1750
parsed_creator                           4901
dtype: int64

In [136]:
df_sorted.shape

(2207604, 33)

In [137]:
df_sorted.drop(['parsed_creator'],axis=1,inplace=True)

In [141]:
df_sorted['month'].unique().value_counts()

2024-01-01    1
2024-02-01    1
2024-03-01    1
2024-04-01    1
2024-05-01    1
2024-06-01    1
2024-07-01    1
2024-08-01    1
2024-09-01    1
2024-10-01    1
2024-11-01    1
2024-12-01    1
Name: count, dtype: int64

In [142]:
df_group= df_sorted.groupby('month');

In [143]:
for month, group in df.groupby('month'):
    if month == '2024-01-01':  # adjust if your key is a datetime
        print(group)

In [146]:
#grouped = df.groupby('month')
specific_group = df_group.get_group('2024-01-01')  # or pd.Timestamp('2024-01-01') if it's datetime
specific_group.isnull().sum()

backers_count                             0
blurb                                     3
converted_pledged_amount                900
country_displayable_name                  0
currency                                  0
current_currency                          0
disable_communication                     0
fx_rate                                   0
goal                                      0
is_disliked                               0
is_launched                               0
is_liked                                  0
is_starrable                              0
launched_at                               0
name                                      0
percent_funded                            0
pledged                                   0
prelaunch_activated                       0
slug                                      0
spotlight                                 0
staff_pick                                0
state                                     0
state_changed_at                          0
static_usd_rate                           0
usd_exchange_rate                       900
usd_pledged                             900
usd_type                                  0
month                                     0
is_in_post_campaign_pledging_phase    25957
category_name                          1146
subcategory                               0
city                                     40
dtype: int64

In [148]:
df_sorted[df_sorted.duplicated()].shape

(245137, 32)

In [152]:
df_sorted.shape

32

In [153]:
# Percent of duplicated rows.
(df_sorted[df_sorted.duplicated()].shape[0]/df_sorted.shape[0])*100

11.104210718951405

In [151]:
df_sorted.columns

Index(['backers_count', 'blurb', 'converted_pledged_amount',
       'country_displayable_name', 'currency', 'current_currency',
       'disable_communication', 'fx_rate', 'goal', 'is_disliked',
       'is_launched', 'is_liked', 'is_starrable', 'launched_at', 'name',
       'percent_funded', 'pledged', 'prelaunch_activated', 'slug', 'spotlight',
       'staff_pick', 'state', 'state_changed_at', 'static_usd_rate',
       'usd_exchange_rate', 'usd_pledged', 'usd_type', 'month',
       'is_in_post_campaign_pledging_phase', 'category_name', 'subcategory',
       'city'],
      dtype='object')

In [156]:
df_final = df_sorted.drop_duplicates();

In [157]:
df_final.shape

(1962467, 32)

In [160]:
(df_final.shape[0]/2207604)*100

88.8957892810486

In [161]:
df_final.to_csv('kickstarterNew.csv', index=False)

In [162]:
import os
print(os.getcwd())

/Users/abrahamcampos/Desktop

In [163]:
df_final.shape

(1962467, 32)